* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    background-color: #000;
}

ul{
    display: flex;
    list-style: none;
}

li{
    flex: 1;
}

a{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    display: block;
    text-align: center;
    padding: 15px 25px;
    text-transform: uppercase;
    border-bottom: 4px solid black;
}

a:hover{
    color: yellow;
    border-bottom-color: yellow;
}

section{
    padding-top: 30px;
    text-align: center;
}

.home-selected, .contact-selected, .news-selected{
    background-color: darkgrey;
}